* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
/* .line {
    border: 1px solid black;
} */
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.font {
    font-family: 'Poppins', sans-serif;
}
/*PRIMERA VISTA*/
/*HEADER*/
.nav_font {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: 500;
    font-size: medium;
}
.nav {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3E3935;
}
.nav_col_void,
.nav_col_title,
.nav_col_items {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_col_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.nav_title_wrapper {
    background-color: #FD9738;
    width: 25%;
    height: 40%;
    margin: 0 auto;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_icon {
    font-size: 1.5em !important;
    position: absolute;
    left: 70%;
}
.nav_items_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin: 0 auto;
}

/* FAVOURITE FOOD */
#main_title_container {
    display: none;
}

/*PROMO*/
.info {
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FF7F02;
}
.info_col_img,
.info_col_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.info_col_img {
    align-items: end;
}
.info_col_text {
    align-items: start;
    justify-content: center;
}
.info_img {
    width: 10%;
}
.info_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 5%;
}
.info_title{
    font-size: small;
    font-weight: 500;
}
.info_subtitle{
    font-size: x-small;
}

/*CARD CONTAINER*/
.main_container {
    height: 65%;
    width: 90%;
    margin: 0 auto;
}
.main_title_container {
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.main_title {
    font-weight: 500;
    color: #FF7F02;
    height: 80%;
}
.main_title_icon {
    font-size: 1em !important;
}
.card_container {
    display: flex;
    height: 75%;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem;
    -webkit-box-shadow: 1px 2px 10px 1px rgb(0 0 0 / 15%);
    box-shadow: 1px 2px 10px 1px rgb(0 0 0 / 15%);
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/*CARD*/
.card-box {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 2.5%;
    position: relative;
}
.img-inner{
    width: 100%;
    z-index: 1;
    position: relative;
 } 
.foto-pizza{
    width: 60%;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35% 5% 5% 5%;
    border-radius: 2rem;
    background: #F5F4F9;
    font-family: 'Poppins', sans-serif;
    margin-top: -35%;
    position: relative;
    z-index: 0;
}
.card_text_row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}
.text-container h3 {
    color: black;
    font-size: x-small;
    font-weight: 500;
}
.card-subtitle{
      font-size: xx-small;
      color: rgba(0, 0, 0, 50%);
}
.card_items_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 5% auto;
}
.price_text{
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
    font-weight: 600;
    text-align: start;
}
.add_button{
    align-self: flex-end;
    background-color: #FDC138;
    border-radius: 0.25rem;
    color: white;
    width: 17%;
    font-size: small;
    cursor: pointer;
}
.add_button:hover{
    background-color: #e0e0e0;
}

/*FOOTER*/
.footer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

/*SHOPPING BUTTON*/
.shopping_button{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 2;
}
.main_button {
    border-radius: 50%;
    border: .3rem solid #FFFFFF;
    background-color: #e0e0e0;
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
}
.main_button:active{
    background-color: #FDC138;
}
.shopping_button i {
    color: #FFFFFF;
}
.card_items {
    border: 0.13rem solid #FFFFFF;
    border-radius: 50%;
    background-color: #FF942C;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -20%;
    right: 30%;
    color: #FFFFFF;
    font-size: 0.75rem;
    cursor: pointer;
    outline: none;
}

/*SEGONA VISTA*/
.shopping_wrapper{
    height: 100%;
    width: 30%;
    background-color: #3E3935;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.checkout_container{
    height: 80%;
    width: 85%;
    background-color: rgba(255, 255, 255, .81);
    margin: 0% auto 15% auto;
    border-radius: 2rem;
}
.checkout_header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 20%;
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
    /*PRIMERA VISTA*/
    .nav {
        background-color: #FFFFFF;
        width: 90%;
        margin: 0 auto;
        height: 15%;
    }
    .nav_col_void,
    .nav_col_items {
        display: none;
    }
    .nav_col_title {
        width: 100%;
        justify-content: start
    }
    .nav_title_wrapper{
        margin: 0;
        width: 35%;
    }
    .nav_icon{
        left: 40%;
    }
    #main_title_container {
        display: block;
        height: unset;
        width: 90%;
        margin: 0 auto;
        height: 10%;
    }
    .info{
        width: 75%;
        margin: 0 auto;
        border-radius: 1rem;
        height: 11%;
        margin-top: 4%;   
    }
    .info_text_container{
        margin: 0;
        align-items: end;
        width: 85%;
    }
    .info_subtitle{
        text-align: end;
    }
    .info_col_img{
        align-items: start;
    }
    .info_img {
        width: 60%;
        margin: 0 auto;
    }
    .main_container{
        display: flex;
        margin: auto;
        align-items: center;
        height: 52.5%;
    }
    .main_title_container{
        display: none;
    }

    #main_title{
        color: black;
        font-weight: bold;
    }
    .card_container{
        height: 90%;
        border: none;
        box-shadow: none;
        width: 90%;
        margin: 0 auto;
        align-items: baseline;
    }
    .card-box{
        width: 45%;
    }
    .footer{
        align-items: center;
        position: fixed;
        z-index: 1;
        height: 13.5%;
        bottom: 0;
        background-color: rgba(255,255,255,.75)    
    }
    .shopping_button{
        position: absolute;
        right: unset;
        bottom: unset;
        top: 0;
    }
    /*SEGONA VISTA*/
    .shopping_wrapper{
        width: 100%;
        background-color: white;
    }
    .checkout_container{
        height: 90%;
        margin: 10% auto 5% auto;
        z-index: 3;
        box-shadow: 1px 2px 10px 1px rgb(0 0 0 / 15%);
        background-color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width:820px) {
   .nav_col_void{
       display: none;
   }
   .nav_col_title, .nav_col_items{
       width: 50%;
   }
   .nav_title_wrapper{
       width: 30%;
       height: 25%;
   }
   .info{
       height: 5%;
   }
   .info_img{
       width: 13%;
   }
   .main_title_container{
       height: 20%;
   }
   .main_title{
       font-size: 1.85rem;
       color: black;
       font-weight: bold;
   }
   .card_container{
       height: 80%;
   }
   .card-box{
       width: 20%;
   }
   .footer{
        height: 15%;
        align-items: center;
   }
   .shopping_button{
    position: relative;
    right: unset;
    bottom: unset;
   }
}
@media only screen and (max-width: 375px) {
    .info_img{
        width: 50%;
    }
}